absl-py==0.2.2
astor==0.6.2
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
gast==0.2.0
graphviz==0.8.3
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
idna==2.6
lxml==4.2.1
Markdown==2.6.11
numpy==1.14.3
pandas==0.23.0
protobuf==3.15.0
pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn-pandas==1.6.0
tensorboard==1.8.0
termcolor==1.1.0
tqdm==4.23.3
urllib3==1.22
Werkzeug==0.14.1
xgboost==0.71
yapf==0.22.0
